{{#with data}}
<div class="card">
    <img src="{{photo}}" alt="Fuatured photo" class="card_photo">
    <h2 class="card_heading">{{heading}}</h2>
    <p class="card_info">{{info}}</p>
    <a href="{{linkUrl}}" class="card_link">{{linkText}}</a>
</div>
{{/with}}